{% extends 'base.html' %}

{% block content %}
<center>
    <h1>Информация обо мне</h1>
</center>
<p>Меня зовут {{ object_list.name }}. Краткая биография обо мне. Родился в {{ object_list.year }} году в городе {{
    object_list.city }}. Закончил в 2015
    году
    ПГСГА.
</p>

<br /><br />
<br /><br />
<font style="color:green">Этот текст зеленый</font>
<br /><br />
<b>Просто пример жирного текста</b>
<br /><br />
Низ страницы
<br /><br />
<p>
    Спасибо. До новых встреч!
</p>
{% endblock %}