{% extends 'base.html' %}

{% block content %}
<form method="post">
    <fieldset>
        <legend>Контактная информация</legend>
        <p><label for="topic">Тема <em>*</em></label><input type="text" id="topic" name="topic"></p>
        <p><label for="text">Текст <em>*</em></label><input type="text" id="text" name="text"></p>
        <p><label for="email">E-mail</label><input type="email" id="email" name="email"></p>
        <p><button type="submit">Отправить</button></p>
    </fieldset>

</form>
{% endblock %}