{% extends 'base.html' %}

{% block content %}


<center>
    <h1> Регистрация </h1>
</center>

<form method="post">
    <fieldset>
        <input type="hidden" name="page" value="{{ register }}">
        <p><label for="text">Логин <em>*</em></label><input type="text" id="login" name="login"></p>
        <p><label for="text">Пароль <em>*</em></label><input type="password" id="password" name="password"></p>
        <p><button type="submit">Отправить</button></p>
    </fieldset>

</form>

{% endblock %}